

/* Style : base */
body
{
	margin: 0%;

}

a
{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: black;
}

h2
{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}
h3
{
	font-family: 'Raleway', sans-serif;
}
p{
font-family: 'Raleway', sans-serif;
margin:0;
}

/* style block */


/* en tête */
.header
{
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-right: 50px;
	flex-wrap: wrap;
}


		/* entête navigation */
.hautdepage
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100px;
	margin:0;
			}
				/* le logo */			
.logo
{
	display: flex;
	flex-basis: 50%;
	margin: 0;
	align-items: center;
	

}

.logoreservia
{
width:90px;

}

				/* ancres hebergement et activité */
.ancres
{
	display: flex;
	flex-basis: 40%;
	flex-direction: row-reverse;
	justify-content: flex-start;
	height: 100px;
	margin-top: 0%;
	margin-bottom: 0%;
	
	 

}

.heb_act
{
	display: flex;
	
	border: 2px rgb(0,0,0,0) solid;
	text-decoration: none;
	flex-basis: 20%;
	color: rgb(40,40,40);
	font-family: 'Raleway', sans-serif;
	height: 100px;
	align-items: center;
	justify-content: center;

}

.heb_act:hover
{
	border-top: 2px rgb(35,105,243) solid;
	color: rgb(35,105,243);
}
				/* s'incrire */
.inscription
{	

	text-decoration: none;

	color: rgb(35,105,243);
	margin: auto;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

		/* entête titre du site */

.titre
{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 20px


}
h1
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	flex: 1;
	margin: 0;
	font-size: 25px;
	word-wrap: break-word;

}

.description
{
	font-family: 'Raleway', sans-serif;
	margin-top: 0;



}

		/* entête barre de recherche */
.recherche
{
	display: flex;
	
	justify-content: flex-start;

	height: 50px;
	margin-bottom: 20px;
	
}
				/* icon de recherche */

.map
{


	margin-right: 0%;
	background-color: rgb(242,242,242);
	display: flex;
	align-items: center;
	width: 50px;
	border-radius: 10px 0px 0px 10px;
}

.fas
{
	margin: auto;
}

				/* formulaire de recherche */

#recherche
{
	border: 1px rgb(242,242,242) solid;
	margin-right: 0%;
	margin-left: 0%;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1em;
	height: 50px;

}
				/* bouton de recherche */
.boutonrecherche
{
	margin-left: 0%;
	border: 1px rgb(0,0,0,0) solid;
	background-color: rgb(35,105,243);
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: white;
	font-weight: bold;
	height: 50px;
	border-radius: 0px 10px 10px 0px;
	align-items: baseline;
	flex-direction: row;
	overflow: hidden;

}
.loupe
{
	margin-top: 0%;
	text-indent: -9999px;
  line-height: 0;
}
.searchword
{
margin-top:12px;
}
::placeholder 
{ 
  color: black;
  opacity: 1;
		/* entête filtres */
 }
/* Focus */ *:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome 56, Safari 9 */ *:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */ *:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */ *:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */ *:focus::placeholder { opacity: 0; } /* Modern Browsers */
.filtres
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
	
	
	flex-wrap: wrap;

}

				/* titre filtres */
.textefiltre
{
	font-size: 1em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;


}

				/* les filtres */
.filtresindiv
{
	display: flex;
	flex-basis: 20%
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 15px;
	height: 51px;
	border-top: 2px rgb(242,242,242) solid;
	border-right: 2px rgb(242,242,242) solid;
	border-bottom: 2px rgb(242,242,242) solid;
	border-left: 1px rgb(224,235,255) solid;
	border-radius: 50px 50px 50px 50px;	

}
.filtresindiv:hover
{
	background-color: rgb(35,105,243); 

}



.iconsfiltres
{
	color: rgb(35,105,243);
	margin-right: 0%;
	background-color: rgb(224,235,255);
	display: flex;
	align-items: center;
	width: 50px;
	border-radius: 50px 50px 50px 50px;

}

.boutonsfiltres
{
	color: black;	
	font-family: 'Raleway', sans-serif;
	background-color: rgb(0,0,0,0);
	border-radius: 0px 50px 50px 0px;
	border:0;
	font-weight: bold;
	font-size: 1em;
}
.boutonsfiltres:hover
{
	background-color: rgb(35,105,243); 


}

		/* entêteinformations */

.informations
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	word-wrap: break-word;
	height: 100px;
	margin-bottom: 25px;
	margin-top: 10px;

}
.iconinfo
{
	display: flex;
	align-items: center;
	color: rgb(35,105,243);
	margin-right: 20px;
	border: 1px rgb(242,242,242) solid;
	width: 20px;
	height: 20px;
	border-radius: 20px 20px 20px 20px;
	align-items: center;	
}

.info
{
	font-family: 'Raleway', sans-serif;
}
/* partie principale */
main
{
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin-left: 50px;
margin-right: 50px;



}

		/* main résultat hébergement */
.resultatshebergements
{

	display: flex;
	flex-direction: column;
	flex-basis: 65%;
	background-color: rgb(242,242,242);
	border-radius: 20px 20px 20px 20px;	
	flex-wrap: wrap;
}

				/* titre hébergement */
.hauthebergements
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 15px;
	font-family: 'Raleway', sans-serif;
	margin: 20px;
	
	padding: 0;

	


}

				/* block hebergement */
.resultatsenphotos
{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	flex-wrap: wrap;
	margin-left: 30px;
	margin-right: 30px;
}
				/*lien avec photos*/
.lienannonce
{
	display: flex;
	flex-basis: 30%;
	margin: 0%;
	margin-bottom: 25px;
	border: 4px white solid ;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	box-shadow: 0px 0px 20px rgb(210,210,210);
	

}
.boiteclicable
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;

}
.descriptionannonce
{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	
	max-height: 30%;
	background-color: white;
	margin-bottom: 0%;
	word-wrap: break-word;
	padding: 5px;

}


.nomannonce
{
	font-weight: bold;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 5px;
	padding: 0;

}
.prixannonce
{
	margin: 0px;
	padding: 0;


}
.formatphoto
{
	object-fit: cover;
	width: 100%;
	min-height: 170px;
	max-height: 170px;
	object-position: left bottom;


}
.notchecked
{
	color: rgb(217,217,217);

}

.checked
{
	color: rgb(35,105,243);
}
				/* afficher plus  */
.afficherplus
{
	color: black;
	font-weight: bold;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	
}
 		/*  main résultats populaire  */
.resultatspopulaires
{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-basis: 32%;
	margin-bottom: 0%;
	background-color: rgb(242,242,242);
	border-radius: 20px 20px 20px 20px;


}
				/*  titre populaire  */
.hautpopulaires
{ 
	display: flex;
	flex-direction: row;
	flex-basis: 10%;
	align-items: center;
	margin: 0;
	padding: 20px;
	justify-content: space-between;
	font-family: 'Raleway', sans-serif;
	
}
.iconpopulaires
{

	font-size:2em;
	margin: 0;
}
				/*  block populaire */
.blockpopulaires
{
	display: flex;
	flex-basis: 90%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin-left:20px;
	margin-right: 20px;

}
.lienpopulaire
{
	display: flex;
	flex-basis: 100%;
	border: 4px white solid ;
	border-radius: 20px 20px 20px 20px;
	overflow: hidden;
	background-color: white;
	margin-bottom: 25px;
	box-shadow: 0px 0px 20px rgb(210,210,210);
}

.boiteclicableformat2
{
	display: flex;
	flex-basis: 100%;

}

.formatpopulaire
{
	object-fit: cover;
	width: 30%;
	max-height: 175px;
	object-position: left bottom;

	margin: 0%;
	
}
.descriptionpopulaire
{
	display: flex;
	justify-content:space-between;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	margin: 10px;
	color: black;
	word-wrap: break-word;
	


}
/*  main partie complémentaire: activités */
.activites
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	

}
		/*  les activités */
.resultatsactivites
{
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	flex-basis: 100%;


}
.activitéssize
{
	display: flex;
	flex-basis: 25%;
	flex-direction: column;
	justify-content: space-between;
	max-height: 500px;
	margin:10px;
	


	
}
.grossesimages
{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: space-between;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0px 0px 20px rgb(210,210,210);
	overflow: hidden;
}
.contenantimage
{
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	overflow: hidden;
}
.textesousimage
{
	height: 40px;
	color: black;
	font-weight: bold;
	padding: 15px;
	align-items: center;
	background-color: white;
	margin: 0%;
}
.photoresponsive
{
	object-fit: cover;
	width: 100%;
	
	object-position: center;

}



.moyennesimages
{
	display: flex;
	flex-basis: 60%;
	flex-direction: column;
	box-shadow: 0px 0px 20px rgb(210,210,210);
	border-radius: 20px 20px 20px 20px;
	margin-bottom: 20px;
	overflow: hidden;
	

}


.petitesimages
{
display: flex;
flex-basis: 35%;
flex-direction: column;
justify-content: space-between;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 0px 20px rgb(210,210,210);
overflow: hidden;

}
/*  footer*/
.pieddepage
{
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	background-color: rgb(217,217,217);
	margin-top:50px;
	padding: 50px;
}
.divers
{
	display: flex;
	flex-basis: 30%;
	justify-content: flex-start;
	flex-direction: column;
	word-wrap: break-word;
	
}


	/* Media Queries */
@media screen and (max-width: 950px)
{
				.header 
			{
				margin:0;
				flex-basis: 100%;
			}
			main
			{
				margin:0;
			}
			.logo
			{

				justify-content: flex-start;
				margin-left: 20px;
			}

				.hautdepage
				{
					height: 130px;
					margin:0;
					padding: 0;
					flex-basis: 100%;
					
				}
				.ancres
				{
					display: flex;
					flex-basis: 100%;
					flex-direction: row-reverse;
					margin-top: 20px;
					justify-content:space-around;
					
					margin-right: 0%;
					margin-left: 0%;
					order: 3;
				
				}
				.heb_act
				{
					display: flex;
					flex-basis: 50%;
					height: 50px;
				}
			.heb_act:hover
			{

				border-top: 2px rgb(35,105,243,0) solid;
				border-bottom: 2px rgb(35,105,243) solid;
				color: rgb(35,105,243);
				padding: 0;

			}
			.inscription
			{
				display: flex;
				justify-content: flex-end;
				margin-right: 20px;

			}
			.titre
			{
				flex-basis: 100%;
				padding-left: 20px;
			}
			.recherche
			{
				display: flex;
				flex-basis: 100%;
				justify-content: flex-start;
				margin-left: 20px;	

			}
			.searchword
			{
				 text-indent: -9999px;
  line-height: 0;
			}
			.loupe

{
	color: white;
	text-indent: 0;
  line-height: 1em;
}
			.textefiltre
			{
				
				flex-basis: 100%;
				margin: 20px;
			}
			.filtres
			{
				min-height: 210px;
			}
			.informations
			{
			margin:20px;	
			}

			.resultatspopulaires
			{
				order:1;
				flex-basis: 100%;
				margin:0;
				padding: 0;
				border-radius: 0px;
			}	

			.resultatshebergements
			{
				order:2;
				flex-basis: 100%;
				margin:0;
				padding: 0;
				border-radius: 0px;
				background-color: white;
			}
			.resultatsenphotos
			{
				
				flex-direction: column;
			}
			.lienannonce
			{
				flex-basis: 100%;

			}
			.activites
			{
				margin:0;
			}
			.resultatsactivites
			{
				flex-direction: column;
				margin:20px;
			}

			.grossesimages
			{
				height: 250px;
			
			}
			.moyennesimages
			{
				height: 250px;
			}
			.petitesimages
			{
				height: 250px;
			}

			.divers
			{
				visibility: hidden;
			}

#recherche
{
border-radius: 0px;
}






}

