/* Style body */
body
{

}

/* style en tête */
header
{
display: flex;
flex-wrap: wrap;
margin-left: 20px;
margin-right: 20px;
}
/* en tête partie 1*/
.header1
{
display: flex;
flex-wrap: wrap;
flex-direction: row;
width: 100%;




}


.logo
{
display: flex;
margin-left: px;
flex: 3;
}

.part11 /* <div> conteneur heb & act*/
{
display: flex;
flex-direction: row;

flex: 2;
max-width: 20%;


}

.part12 /* <a> élément heb & act*/
{
display: flex;
color: rgb(40,40,40);
flex: ;
padding: auto;
justify-content: space-around;
margin: auto;
text-decoration: none;


}
.part12:hover
{
	color: rgb(35,105,243);
	border-top: 2px rgb(35,105,243) solid ;

}

.inscription
{
	display: flex;
	font-weight: bold;
	margin: auto;


}

.sinscrire
{
text-decoration: none;
color: rgb(35,105,243);

}


/* en autres parties */
.header2
{

}

.header3
{

}

.header4
{

}

.header5
{

}
/* style section */
/* style pied de page */